<%- include('partials/header.ejs') %>
    <h1 class="welcome">Hi!!! I'm Precious</h1>
    <p>8/8/25 - I am a software engineering undergraduate student from Nigeria and was assigned a capstone project to
        create a blog with basic features such as: creating blogs, editing blogs, and deleting them.
        I spent a lot of time on this blog custonising it to my taste and preferences and I plan on updating it with
        every new thing I learn. For example I would like to make a sign in page that actually works and maybe even
        allow for the upload of videos;a comment section would also be nice.
        So far this is all i can do though
    </p>
    <%- include('partials/footer.ejs') %>