<%- include('partials/header.ejs') %>
<h1 class="welcome">Hi!!! I'm Precious</h1>
<p style="border: none; margin-top: 0; font-size: 1em; width: 50em;">This is my contact info
</p>
<ul>
<li>E-mail: p.orih025@gmail.com</li>
<li>Linkedin:<a>https://www.linkedin.com/in/precious-orih-84b58369</a></li>  
<li>Phone number: +234 906 1404 385</li>
</ul>
    <%- include('partials/footer.ejs') %>