<%- include("partials/header.ejs") %>
<h1 class="welcome">Click the Button and start Typing</h1>
    <div id="posts"></div>

<input type="button" id="post" value="Create Post"  class="btm">
<%- include("partials/footer.ejs") %>