nav{
    background-color: rgb(234, 168, 190);
    overflow: hidden;
    width: 100%;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
.link-list{
    padding: 1em 2em;
    display: block;
    text-align: center;
}
.link-list a{
    text-decoration: none;
    color: rgb(238, 232, 234);
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.link-list:hover{
    background-color: palevioletred;
}
.sign-in{
    margin-left: auto;
}

